.gigCard {
  width: 324px;
  height: 500px;
  border: 1px solid #eaeaea;
  margin-bottom: 40px;
  margin-top: 10px;
}

.gigCard img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.gigCard .info {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gigCard .user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.gigCard .info p {
  margin: 5px;
}

.gigCard .user img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.gigCard p {
  color: #111;
}

.gigCard .star {
  display: flex;
  align-items: center;
  gap: 5px;
}

.gigCard .star img {
  width: 14px;
  height: 14px;
}

.gigCard .star span {
  font-size: 14px;
  font-weight: bold;
  color: #ffc108;
}

.gigCard hr {
  height: 0;
  border: 0.5px solid #eaeaea;
}

.gigCard .detail {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gigCard .detail img {
  width: 16px;
  height: 16px;
  cursor: pointer;
  object-fit: cover;
}

.gigCard .detail span {
  color: #999;
  font-size: 12px;
}

.gigCard .detail h2 {
  color: #555;
  font-size: 18px;
  font-weight: 400;
}

.gigCard .price span {
  color: #999;
  font-size: 12px;
}

.gigCard .price h2 {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  text-align: end;
}

.gigCard .price sup {
  font-size: 12px;
  font-weight: 300;
}
